<th:block xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="end">
    <script th:src="@{/eshopper/js/jquery.js}"></script>
    <script th:src="@{/eshopper/js/bootstrap.min.js}"></script>
    <script th:src="@{/eshopper/js/jquery.scrollUp.min.js}"></script>
    <script th:src="@{/eshopper/js/price-range.js}"></script>
    <script th:src="@{/eshopper/js/jquery.prettyPhoto.js}"></script>
    <script th:src="@{/eshopper/js/main.js}"></script>
</th:block>